/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.admin-quickbar {
  position: fixed;
  top: 66px;
  right: 0;
  width: 0;
  bottom: 0;

  background-color: #e6e9ec;

  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);

  z-index: 99999;
}

.admin-quickbar-inner {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px;
  overflow: auto;
}

.admin-quickbar.toggle {
  width: 320px;
  display: block;
}

.admin-quickbar.toggle .admin-quickbar-inner {
  display: block;
}

.elementor-editor-active:not(.wp-admin) .admin-quickbar {
  top: 0;
}

.dashicons-elementor {
  top: 3px;
  position: relative;
}

.dashicons-elementor::before {
  content: "\e812";
  font-family: eicons;
  font-size: 13px;
  vertical-align: top;
}

.admin-quickbar-post-type {
  padding: 12px 15px 12px 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.admin-quickbar-post-type::before {
  content: "\f140";
  display: inline-block;
  position: relative;
  top: -1px;
  margin-right: 2px;
  font-family: Dashicons;
  font-size: 15px;
  line-height: 0;
  vertical-align: middle;
}

.show-list .admin-quickbar-post-type::before {
  content: "\f142";
}

.admin-quickbar-post-type .add-new {
  position: relative;
  top: 6px;
  font-size: 12px;
  vertical-align: bottom;
  padding-top: 3px;
}

.admin-quickbar-post-options {
  float: right;
}

.admin-quickbar-post-options .dashicons {
  vertical-align: bottom;
}

.admin-quickbar-post {
  padding: 12px 15px;
  background-color: #fff;
  margin-bottom: 3px;
}

.admin-quickbar-post::after {
  content: '';
  display: block;
  clear: both;
}

.admin-quickbar-postlist-inner {
  display: none;
}

.show-list .admin-quickbar-postlist-inner {
  display: block;
}

.toggle-quickbar-button {
  position: absolute;
  right: 100%;
  top: 50%;
  width: 15px;
  height: 50px;
  line-height: 50px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #e6e9ec;
  font-size: 15px;
  box-shadow: -3px -1px 5px rgba(0, 0, 0, .1);
  cursor: pointer;
}

.toggle-quickbar-button::before {
  content: "\f341";
  font-family: dashicons;
}

.admin-quickbar.toggle .toggle-quickbar-button::before {
  content: "\f345";
}

.admin-quickbar .wp-post-image {
  display: inline-block;
  height: calc(1em + 20px);
  margin-top: -10px;
  margin-bottom: -10px;
  margin-right: 7px;
  transition: all 0.3s ease;
  transform-origin: top left;
  width: auto !important;
}

.admin-quickbar .wp-post-image:hover {
  transform: scale(4.5);
}

.admin-quickbar-loadthumbs,
.admin-quickbar-keepopen {
  padding-left: 12px;
  margin-bottom: 1em;
  display: inline-block;
}

.add-post-button {
  margin-bottom: 5px !important;
}

.add-post-button::before {
  content: "\f132 ";
  display: inline-block;
  margin-right: 2px;
  font-family: Dashicons;
  vertical-align: middle;
}

.admin-quickbar-post-type::-moz-selection { /* Code for Firefox */
  color: inherit;
  background: inherit;
}

.admin-quickbar-post-type::selection {
  color: inherit;
  background: inherit;
}

.admin-quickbar .wp-post-image[src=""] {
  display: none;
}

.admin-quickbar-jumpicons {
  position: fixed;
  bottom: 0;
  right: 25px;
  z-index: 999999;
  background-color: #000;
  padding: 2px 5px 0;
}

.admin-quickbar-jumpicons a {
  display: inline-block;
  position: relative;
  width: 25px;
  height: 25px;
  color: #fff;
  vertical-align: bottom;
}

.admin-quickbar-jumpicons a:hover {
  color: #00a0d2;
}

.admin-quickbar-jumpicons a.dashicons-elementor {
  top: 3px;
}

.admin-quickbar-category {
  position: relative;
  margin-bottom: 0.75em;
  margin-top: 0.75em;
  margin-left: 12px;

  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
  color: #b9b9b9;
}

.admin-quickbar-category:first-child {
  margin-top: 0;
}

.admin-quickbar-new-select {
  width: calc(100% - 43px);
}