.admin-quickbar-is-darkmode {
  .aqb-css-list,
  .admin-quickbar-contextmenu {
    background-color: #333;

    .item:not(.has-sub):hover {
      color: #c7c7c7;
      background-color: transparent;
    }
  }

  .admin-quickbar-jumpicons {
    background-color: #3c3c3c;
  }

  .toggle-quickbar-button {
    background-color: #333;
  }

  .aqb-css-list,
  .admin-quickbar {
    background-color: #333;
    color: #767e86;
  }

  .aqb-css-list .item.has-sub .label {
    color: #767e86;
  }

  .admin-quickbar-post {
    background-color: #3c3c3c;
  }

  .aqb-tab-button {
    background-color: #3c3c3c;
  }
}
