
body.admin-quickbar-is-darkmode {
  .admin-quickbar-jumpicons,
  .admin-quickbar {
    .aqb-css-list,
    .admin-quickbar-contextmenu {
      background-color: #333;

      .item:not(.has-sub):hover {
        color: #c7c7c7;
        background-color: transparent;
      }
    }

    .toggle-quickbar-button {
      background-color: #333;
    }

    .admin-quickbar-post {
      background-color: #3c3c3c;
    }

    .aqb-tab-button {
      background-color: #3c3c3c;
    }

    .aqb-search-wrapper,
    .aqb-options label {
      input,
      select,
      textarea {
        color: #e0e1e3;
        background-color: #34383c;
      }
    }

    .aqb-options label {
      color: #e0e1e3;
    }
  }


  .admin-quickbar-jumpicons {
    background-color: #3c3c3c;
  }

  .aqb-css-list,
  .admin-quickbar {
    background-color: #333;
    color: #79838c;
  }

  .aqb-css-list .item.has-sub .label {
    color: #767e86;
  }

  .admin-quickbar-toolbar .aqb-toolbar-item .aqb-toolbar-submenu {
    background-color: #3c3c3c;
    border-top: 1px solid #333;
  }
  .admin-quickbar-toolbar {
    background-color: #3c3c3c;
  }
}
