
.admin-quickbar {
  position: fixed;
  top: 32px;
  right: 0;
  width: 0;
  bottom: 0;

  background-color: #e6e9ec;

  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);

  z-index: 99999;
}

.admin-quickbar-inner {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px 8px;
  overflow: auto;

  > label {
    white-space: nowrap;
  }
}

.admin-quickbar.toggle {
  width: 320px;
  display: block;
}

body:not(.admin-quickbar-is-overlap).admin-quickbar-visible {
  #wpcontent {
    margin-right: 330px;
  }

  /** elementor **/
  &.elementor-navigator-docked #elementor-navigator {
    right: 325px !important;
  }

  #elementor-preview {
    margin-right: 325px;
  }

  /** gutenberg **/
  .edit-post-sidebar,
  .edit-post-header,
  .edit-post-layout__content {
    right: 320px;
  }

  #elementor-try-safe-mode {
    right: 325px;
  }

  #query-monitor-main {
    width: calc(100% - 322px) !important;
  }
}

.admin-quickbar.toggle .admin-quickbar-inner {
  display: block;
}

.elementor-editor-active:not(.wp-admin) .admin-quickbar {
  top: 0;
}

.dashicons-elementor {
  top: 3px;
  position: relative;
}

.dashicons-elementor::before {
  content: "\e812";
  font-family: eicons;
  font-size: 13px;
  vertical-align: top;
}

.admin-quickbar-post-type {
  padding: 12px 15px 12px 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  cursor: pointer;

  &::before {
    content: "\f140";
    display: inline-block;
    position: relative;
    top: -1px;
    margin-right: 2px;
    font-family: Dashicons;
    font-size: 15px;
    line-height: 0;
    vertical-align: middle;
  }

  .add-new {
    position: relative;
    top: 6px;
    font-size: 12px;
    vertical-align: bottom;
    padding-top: 3px;
  }
}

.show-list .admin-quickbar-post-type::before {
  content: "\f142";
}

.admin-quickbar-post-options {
  float: right;
}

.admin-quickbar-post-options .dashicons {
  vertical-align: bottom;
  margin-left: -2px;
  margin-right: -2px;
}

.admin-quickbar-post {
  //position: relative;
  padding: 12px 15px;
  background-color: #fff;
  margin-bottom: 3px;


  &.is-favorite .label::after {
    content: '\f155';
    display: inline-block;
    position: relative;
    top: 1px;
    margin-left: 5px;
    font-family: Dashicons;
    font-size: 12px;
    color: inherit;
  }

  &.is-active .label {
    font-weight: 600;
  }
}

.admin-quickbar-post::after {
  content: '';
  display: block;
  clear: both;
}

.admin-quickbar-postlist-inner {
  display: none;
}

.show-list .admin-quickbar-postlist-inner {
  display: block;
}

.toggle-quickbar-button {
  position: absolute;
  right: 100%;
  top: 50%;
  width: 12px;
  height: 50px;
  line-height: 50px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #e6e9ec;
  font-size: 15px;
  box-shadow: -3px -1px 5px rgba(0, 0, 0, .1);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;

  &::before {
    content: "\f341";
    font-family: dashicons;
    margin-left: 2px;
  }
}

.admin-quickbar.toggle .toggle-quickbar-button::before {
  content: "\f345";
}

.admin-quickbar .wp-post-image {
  display: inline-block;
  height: calc(1em + 20px);
  margin-top: -10px;
  margin-bottom: -10px;
  margin-right: 7px;
  transition: all 0.3s ease;
  transform-origin: top left;
  width: auto !important;
}

.admin-quickbar .wp-post-image:hover {
  transform: scale(4.5);
}

.aqb-options label {
  padding-left: 2px;
  margin-bottom: 1em;
  display: block;
  position: relative;

  &:first-child {
    margin-top: 1em;
  }

  input {
    margin-left: 7px !important;
    top: -2px;
    border-color: #8888882e !important;
  }
}

.admin-quickbar-keepopen {
  padding-left: 0;
}

.add-post-button {
  margin-bottom: 5px !important;
}

.add-post-button::before {
  content: "\f132 ";
  display: inline-block;
  margin-right: 2px;
  font-family: Dashicons;
  vertical-align: middle;
}

.admin-quickbar-post-type::-moz-selection { /* Code for Firefox */
  color: inherit;
  background: inherit;
}

.admin-quickbar-post-type::selection {
  color: inherit;
  background: inherit;
}

.admin-quickbar .wp-post-image[src=""] {
  display: none;
}

.admin-quickbar-jumpicons {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #fff;
  padding: 8px 10px 2px;
  border-radius: 24px;
  box-shadow: 0px 1px 1px #1b1c1d3d;
  border-top: 1px solid #1b1c1d12;
  z-index: 999999;

  a {
    display: inline-block;
    position: relative;
    width: 22px;
    height: 25px;
    color: #0073aa;
    vertical-align: bottom;

    &:hover {
      color: #00a0d2;
    }

    &.dashicons-elementor {
      top: 3px;
    }
  }
}

.admin-quickbar-jumpicons,
.admin-quickbar-post-options {
  .dashicons.dashicons-wordpress-alt {
    position: relative;
    font-size: 14px;
    top: 2px;
  }
}


.admin-quickbar-category {
  position: relative;
  margin-bottom: 0.75em;
  margin-top: 0.75em;
  margin-left: 12px;

  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
  color: #6e737d7a;
}

.admin-quickbar-category:first-child {
  margin-top: 0;
}

.admin-quickbar-new-select {
  width: calc(100% - 43px);
  margin-left: 5px;
  padding: 0 5px;
  border-color: #8888882e !important;
}

.admin-quickbar-jumpicons a.admin-quickbar-control-cache,
.admin-quickbar-control-cache {
  display: inline-block;
  position: relative;
  top: 2px;
  color: #c73535;
  vertical-align: middle;
  font-size: 15px;
  cursor: pointer;

  &.is-in-cache {
    color: #01a252;
  }

  &::before {
    display: inline-block;
  }

  &.loading::before {
    animation: rotating 1.5s linear infinite;
  }
}

.admin-quickbar-jumpicons a.admin-quickbar-control-cache {
  color: #c73535;
  font-size: 19px;
  top: 0;
}


.admin-quickbar-contextmenu {
  display: none;
  position: fixed;
  width: 280px;
  color: #6d7882;
  border-radius: 5px;
  background: #fff;
  box-shadow: 1px 2px 4px #1b1c1d24;
  border-top: 1px solid #1b1c1d12;
  border-left: 1px solid #1b1c1d12;

  z-index: 999999999;

  &.open {
    display: block;
  }

  > .item {
    display: block;
    position: relative;
    padding: 0 15px;
    height: 30px;
    margin: 7px 0;
    cursor: default;
  }

  .item:not(.has-sub):hover {
    background-color: #e6e9ec;
  }

  .item.has-sub {
    text-align: right;
  }

  .item.has-sub .label {
    display: block;
    position: absolute;
    text-align: left;
    top: 14px;
  }

  .subitem {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    top: 0;
    width: 30px;
    height: 30px;
    text-align: center;
    font-family: Dashicons;
    background-color: transparent;
    margin: 0 2px;
    overflow: hidden;
  }

  .subitem::before {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
  }

  .subitem.admin-quickbar-control-cache::before {
    top: 5px;
    transform: none;
  }

  .item.item-copy .subitem {
    cursor: copy;
  }

  .item.item-favorite .subitem {
    cursor: pointer;
  }

  .subitem.item-permalink::before {
    content: "\f177";
  }

  .subitem.item-edit::before {
    content: "\f120";
    font-size: 16px;
  }

  .subitem.item-id::before {
    content: "\f336";
  }

  .subitem.item-elementor::before {
    content: "\e812";
    font-family: eicons;
    font-size: 13px;
    top: calc(50% - 3px);
  }

  .subitem.item-shortcode::before {
    content: "\e883";
    font-family: eicons;
    font-size: 13px;
    top: calc(50% - 3px);
  }

  .subitem.item-add-favorite::before {
    content: "\f154";
  }

  .subitem.item-remove-favorite::before {
    content: "\f155";
  }

  .item input {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    transform: scale(0);
  }
}

body.swift-setup .admin-quickbar {
  display: none !important;
}


@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.add-post-button,
.admin-quickbar-post-type .add-new,
.admin-quickbar-post-options a,
.admin-quickbar-jumpicons a {
  color: #2f87b1;

  &:hover {
    color: #0aa4ef;
  }

  &:focus {
    box-shadow: none;
  }
}

.admin-quickbar-is-darkmode {
  .admin-quickbar-contextmenu {
    background-color: #333;

    .item:not(.has-sub):hover {
      background-color: #111;
    }
  }

  .admin-quickbar-jumpicons {
    background-color: #333;
  }

  .toggle-quickbar-button {
    background-color: #333;
  }

  .admin-quickbar {
    background-color: #333;
    color: #6d7882;
  }

  .admin-quickbar-post {
    background-color: #3c3c3c;
  }
}