body .admin-quickbar {
  .admin-quickbar-postlist.aqb-search-hidden,
  .admin-quickbar-post.aqb-search-hidden {
    display: none;
  }

  .aqb-search-wrapper {
    display: block;
    padding: 18px 5px 0px 2px;
    margin-bottom: 8px;

    .dashicons {
      float: left;
      display: block;
      position: relative;
      top: 3px;
      margin-right: 5px;
    }

    input {
      display: block;
      width: calc(100% - 25px);
    }
  }
}
