body .admin-quickbar {
  .aqb-tab {
    display: none;
    position: relative;
    padding-bottom: 50px;

    &.active {
      display: block;
    }
  }

  .aqb-tab-button {
    flex-grow: 1;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    letter-spacing: 1.4px;

    background-color: var(--aqb-main-bg);

    border-bottom: 3px solid transparent;

    cursor: pointer;
    user-select: none;

    &.active {
      border-color: var(--aqb-accent);
    }
  }

  .aqb-tab-button-wrapper {
    display: flex;
    margin-left: -8px;
    margin-right: -8px;
  }

  .aqb-tab-options {
    padding-top: 1em;
  }
}
