
.admin-quickbar-toolbar {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0 12px;
  background-color: var(--aqb-main-bg);
  z-index: 50;

  .aqb-toolbar-item {
    display: inline-block;
    //position: relative;
    width: 100%;

    > a {
      display: inline-block;
      color: var(--aqb-accent);
      padding: 5px 10px 20px;
    }

    &:hover > a {
      color: var(--aqb-accent-alt);
    }

    i {
      font-size: 24px;
    }

    > .admin-quickbar-control-cache {
      cursor: pointer;

      i {
        color: var(--aqb-accent) !important;
      }

      &:hover i {
        color: var(--aqb-accent-alt) !important;
      }
    }

    .aqb-toolbar-submenu {
      display: none;
      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;
      background-color: var(--aqb-main-bg);
      border-top: 1px solid var(--aqb-secondary-bg);
      padding: 16px 0 20px 7px;

      .aqb-toolbar-subitem {
        display: inline-block;
        position: relative;
        width: 100%;
        font-size: 13px;
        padding: 10px 16px;
        text-align: left;
        text-decoration: none;

        .aqb-toolbar-actions {
          position: absolute;
          top: 0;
          right: 20px;

          .aqb-icon {
            padding: 10px 5px;
            height: auto;
            font-size: 16px;

            &.aqb-icon-wordpress {
              font-size: 13px;
              padding-top: 9px;
            }
          }
        }
      }

      a {
        color: var(--aqb-accent);

        &:hover {
          color: var(--aqb-accent-alt);
        }
      }
    }

    &:hover .aqb-toolbar-submenu {
      display: block;
    }
  }

  .aqb-toolbar-indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    padding: 1px;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 18px;
    background-color: var(--aqb-transparent-bg-alt);
    pointer-events: none;
    transition: opacity 0.3s linear;
  }

  &.show-indicator .aqb-toolbar-indicator {
    opacity: 1;
  }
}