
.admin-quickbar-toolbar {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0 12px;
  background-color: #fff;
  box-shadow: -3px 0px 5px rgba(0, 0, 0, .1);

  a {
    display: inline-block;
    position: relative;
    width: 100%;
    color: #2f87b1;
    padding: 5px 10px;

    &:hover {
      color: #0aa4ef;
    }

    i {
      font-size: 24px;
    }
  }
}